!!! 5
head
  title MIDI Fun Bitches!
  script(type='text/javascript', src="js/vendor.js", defer = true)
  script(type='text/javascript', src="js/app.js", defer = true, onload="require('scripts/initialize')")
  link(rel='stylesheet', href="css/app.css")

body
  input(type='file')
  button(type='button') Start

